<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}


      <div class="footer-wrapper">
        <footer id="footer">
          <div class="footer-container">
            <div class="footer-block">
              <div class="footer-responsive">

                <div class="footer-logo">
                  <a class="footer-logo__link" href="https://2muchcoffee.com" role="link" aria-label="2muchcoffee">
                    <img class="footer-logo__img-logo" src="https://2muchcoffee.com/blog/content/images/footer_2mc.svg" alt="2muchcoffee">
                  </a>
                  <div class="footer-logo__text">Full-Stack web and mobile app development and design company.</div>
                </div>

                <div class="footer-socials">
                  <ul class="footer-socials__list">
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://www.facebook.com/2muchcoffeecom">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_facebook.svg" alt="facebook">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://www.linkedin.com/company/2muchcoffee">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_linkedin.svg" alt="linkedin">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://github.com/2muchcoffeecom">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_github.svg" alt="github">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://www.behance.net/2muchcoffee">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_behance.svg" alt="behance">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://twitter.com/2muchcoffeecom">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_twitter.svg" alt="twitter">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://dribbble.com/2muchcoffee">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_dribble.svg" alt="dribble">
                      </a>
                    </li>
                    <li class="footer-socials__item">
                      <a class="footer-socials__link" href="https://medium.com/@2muchcoffee">
                        <img class="footer-socials__link-item" src="https://2muchcoffee.com/blog/content/images/footer_medium.svg" alt="medium">
                      </a>
                    </li>
                  </ul>
                </div>

                <nav class="footer-nav">
                  <ul class="footer-nav__list">
                    <a href="https://2muchcoffee.com/services" class="footer-nav__title">Services</a>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/web-development" class="footer-nav__link">Web Development</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/mobile-app-development" class="footer-nav__link">App Development</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/design" class="footer-nav__link">UI/UX Design</a>
                    </li>
                  </ul>

                  <ul class="footer-nav__list">
                    <a href="https://2muchcoffee.com/technology" class="footer-nav__title">Technology</a>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/angular-web-development" class="footer-nav__link">Angular</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/react-development" class="footer-nav__link">React</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/ngxrestangular-app-development" class="footer-nav__link">Ngx-restangular</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/ionic-app-development" class="footer-nav__link">Ionic</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/firebase-app-development" class="footer-nav__link">Firebase</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/nodejs-development" class="footer-nav__link">Node.js</a>
                    </li>
                  </ul>

                  <ul class="footer-nav__list">
                    <a href="https://2muchcoffee.com/portfolio" class="footer-nav__title">Portfolio</a>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/music-app" class="footer-nav__link">Music App</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/ecommerce-saas" class="footer-nav__link">E-commerce SAAS</a>
                    </li>
                    <li class="footer-nav__item">
                      <a href="https://2muchcoffee.com/education-app" class="footer-nav__link">Education Platform</a>
                    </li>
                  </ul>

                  <ul class="footer-nav__list">
                    <a href="https://2muchcoffee.com/contacts" class="footer-nav__title">Contact us</a>
                  </ul>
                </nav>

              </div>

              <div class="footer-rights">
                <div class="footer-rights__line">
                  <div class="footer-rights__text footer-rights__text_margin">© Copyright 2019 2muchcoffee.</div>
                  <div class="footer-rights__text">159 20th St, Brooklyn, NY 11232. Tel.: (347) 455-8941</div>
                </div>
                <div class="footer-rights__text">
                  <a href="https://2muchcoffee.com/privacypolicy" class="footer-rights__privacy">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>


    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
